* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #33ffee, #ff701e);
  border-radius: 10px;
} */

:root {
  --bg-base: #dcdddf;
  --bg-surface: #ffffff;
  --bg-sidebar: rgba(243, 243, 243, 0.8);
  --bg-hover: #0078d6;
  --text-primary: #000000;
  --text-secondary: #757575;
  --el-active: #0078d4;
}

.dark {
  --bg-base: #131313;
  --bg-surface: #2d2d2d;
  --bg-sidebar: #18181b;
  --bg-hover: #4cc2ff;
  --text-primary: #ffffff;
  --text-secondary: #a1a1aa;
  --el-active: #4cc2ff;
}

html,
body {
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  /* min-height: 100vh; */
}

body {
  background: linear-gradient(-180deg, #ebebeb 0%, #dcdddf 48%, #c4c5c7 99%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.dark body {
  background:
    linear-gradient(90deg, #1f1f1f 5%, #252525 98%),
    linear-gradient(74deg, rgba(34, 34, 34, 0.7) 54%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: multiply;
}

#app {
  color: var(--text-primary);
}

::view-transition-old(page) {
  animation: slide-out 0.6s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
::view-transition-new(page) {
  animation: slide-in 0.6s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
::view-transition-old(page),
::view-transition-new(page) {
  z-index: 2;
}

button {
  border: none; /* 去掉边框 */
  outline: none; /* 去掉选中轮廓 */
  background-color: transparent; /* 去掉背景色 */
  -webkit-appearance: none; /* 移除WebKit默认样式 */
  -moz-appearance: none; /* 移除Firefox默认样式 */
  appearance: none; /* 标准属性 */
}

button:focus,
button:active {
  outline: none; /* 防止点击后出现轮廓 */
  box-shadow: none; /* 去掉阴影变化 */
  background-color: transparent; /* 点击时不变色，可自定义 */
}
