* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-base: #f3f3f3;
  --bg-surface: #ffffff;
  --bg-sidebar: rgba(243, 243, 243, 0.8);
  --bg-hover: #0078d4;
  --text-primary: #202020;
  --text-secondary: #3f3f46;
  --text-thirdary: #fafafa;
}

.dark {
  --bg-base: #09090b;
  --bg-surface: #2d2d2d;
  --bg-sidebar: #18181b;
  --bg-hover: #4cc2ff;
  --text-primary: #ffffff;
  --text-secondary: #a1a1aa;
}

html,
body {
  background-color: var(--bg-base);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

#app {
  color: var(--text-primary);
}
